.boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 38px;
    background-color: seagreen;
    color: white;
    border-radius: 50px;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    box-shadow: -1px 4px 1px 1px white;
}

.boton-contenedor:hover {
    background-color: black;
}

.operador{
    background-color: goldenrod;
}